<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>

  <label for="username">Username:</label>
  <input type="text" id="username" name="username"><br>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password"><br>

  <button id="login" type="submit">Login</button>
  <button id="sign-up" type = "submit">Sign up</button>


  <script src="/static/js/login/login.js"></script>  <!-- sửa đường dẫn nếu sai -->
</body>
</html>
